.layoutStyle {
    padding: 10px;
    /* margin: 1%; */
    background-color:rgba(248, 224, 204, 0.8);
    border-radius: 2%;

}

.homeStyle {
    position: absolute;
    display: inline-block;
    z-index: 2;
    color: rgba(103, 47, 1, 0.978);
    font-size: 5vw;
    top: 5rem;
    padding: 25px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    /* padding-top: 10px; */
    white-space: nowrap;
    overflow: hidden; 
    border-right: 3px solid rgba(103, 47, 1, 0.978);; /* рисуем курсор */
    animation: cursor 0.5s step-end infinite, printed_text 2s steps(10);
}

@keyframes cursor {
    0% {
      border-color: rgba(103, 47, 1, 0.978);
    } 
  
    50% {
      border-color: transparent;
    }
  
    100% {
      border-color: rgba(103, 47, 1, 0.978);
    }
}
  
@keyframes printed_text {
    from {
      width: 0;
    }
  }



.imgStyle {
    /* background-color:rgba(248, 224, 204, 0.8); */
    /* padding: auto; */
    position: relative;
    border-radius: 2%;
    max-height: 85vh;
    opacity: 0.6;
}